<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="N11 Test Suite" >
    <listeners>
        <listener class-name="utils.Listeners.TestListener"/>
        <listener class-name="utils.Listeners.AnnotationTransformer"/>
    </listeners>
    <parameter name="environment"  value="test"/>

    <test name="Version4Test">
        <classes>
            <class name="tests.Version4Test"/>
        </classes>
    </test>
</suite>
